Flask>=3.0.0
Flask-SQLAlchemy>=3.1.1
Flask-Login>=0.6.3
Flask-Bcrypt>=1.0.1
Flask-WTF>=1.2.1
bootstrap-flask>=2.5.0
WTForms>=3.1.2

requests>=2.32.0
beautifulsoup4>=4.13.0
python-dotenv>=1.0.1

Werkzeug>=3.0.3
Jinja2>=3.1.4
MarkupSafe>=2.1.5

SQLAlchemy>=2.0.30
email-validator>=2.2.0

gunicorn>=22.0.0
